[submodule "APIGateway"]
	path = api-gateway
	url = https://github.com/EduDash/APIGateway

[submodule "IdentityService"]
	path = identity-service
	url = https://github.com/EduDash/IdentityService

[submodule "InstitutionService"]
	path = institution-service
	url = https://github.com/EduDash/InstitutionService

[submodule "HyperService"]
	path = hyper-service
	url = https://github.com/EduDash/HyperService

[submodule "Documentation"]
	path = docs
	url = https://github.com/EduDash/docs